<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a site created by Avik Mukherjee</p>
        </div>
        {{>footer}}
    </body>
</html>